
{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}





{% block title %}
Login
{% endblock title %}




{% block content %}
{% include "components/header.html" with title="one-time-password" description="provide the one time password" is_go_back=True %}


<div class="flex justify-center mt-10">
  <div class="border border-slate-300 rounded-lg p-6 dark:bg-slate-50">
    <form method="POST" autocomplete="off">
    {% csrf_token %}

        <div class="mb-4">
            <label class="block text-gray-700 dark:text-purple-500 text-sm font-bold mb-2" for="{{ form.otp.id_for_label }}">{{ field.otp.label }}</label> 
            {{ form.otp|add_class:"bg-slate-100 dark:bg-slate-300 text-slate-800 rounded-lg p-3 drop-shadow-xl w-[400px]" }} 
        </div> 

    <button type="submit" class="bg-cyan-500 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded">Submit</button>
</form>


 
  </div>
</div>

{% endblock content %}



{% block scripts %}
  <script src="{% static 'js/test.js' %}" defer></script>
{% endblock scripts %}