{% extends "base.html" %}
{% load static %}
{% load humanize %}




{% block title %}
  
{% endblock title %}


{% block content %}

<!-- include the header in the page -->
{% include "components/header.html" with title="book rent history detail" description='u can check the rent history of each book in our service' is_go_back=True %}



<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase dark:bg-gray-700 dark:text-gray-400">
    <tr class="border">
      <th scope="col" class="py-3 px-6">
        #
      </th>
      <th scope="col" class="py-3 px-6">
        Book
      </th>
      <th scope="col" class="py-3 px-6">
        Status
      </th>
      <th scope="col" class="py-3 px-6">
        Customer
      </th>
      <th scope="col" class="py-3 px-6">
         rent start 
      </th>
      <th scope="col" class="py-3 px-6">
        rent end 
      </th>
       <th scope="col" class="py-3 px-6">
        is closed 
      </th>
    </tr>
  </thead>
  <tbody>
    {% for obj in object_list %}
    <tr class="border-b dark:bg-gray-800 dark:border-gray-700 {% if not obj.is_read  %}font-bold{% endif %}">
      <td scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        {{forloop.counter}}
      </td>
      <td class="py-4 px-6">
        {{obj.book}}
      </td>
      <td class="py-4 px-6">
        {{obj.status_text}}
      </td>
      <td class="py-4 px-6">
        {{obj.customer.username}}
      </td>
      <td class="py-4 px-6">
        {{obj.rent_start_date}}
      </td>
      <td class="py-4 px-6">
        {{obj.rent_end_date}}
      </td>
      <td class="py-4 px-6">
        {% if obj.is_closed %}
           <i class="fa-solid fa-check text-teal-300 fa-lg"></i>
        {% else %}
           <i class="fa-solid fa-xmark text-red-400 fa-lg"></i>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<div class="mt-3">
  <a href="" class="p-3 bg-rose-400 hover:bg-orange-400 text-white rounded-lg">download</a>
</div>


{% endblock content %}



{% block scripts %}
  <script defer src="{% static 'js/test.js' %}"></script>
{% endblock scripts %}